
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height:90px;
    width:100vw;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 60vw;
}

.logo{
    color: #637f83;
    font-size: 32px;
    font-weight:bolder;
}

nav ul li{
    display: inline-block;
    padding: 10px 26px;
}

nav ul li a{
    color: #637f83;
    font-size: 16px;
    font-weight:bold;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active{
    color: #e4551d;
}

.navbar a{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navbar > li:last-child{
    padding-right: 0;
}

.navbar a:hover::before,
.navbar a:focus::before,
.navbar a:active::before {
	display: inline-block;
	border-style: solid;
    color: #637f83;
    margin-bottom: 8px;
	border-width: 0 0 0.13em 0.13em;
	content: '';
	height: 0.45em;
	align-content: center;
	position:absolute;
	bottom:20px;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height:520px;
    width:100%;
    top: 90px;
    background: url(../images/banner_image.jpg);
    background-size: cover;
    background-position: top;
}

.banner-container{
    display: flex;
    height: 68%;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.banner-link{
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    letter-spacing: 5px;
    text-underline-offset: 12px;
}

.banner-description{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 23px;
    letter-spacing: 4px;
}

.circle{
    width: 68px;
    height: 68px;
    background: #e4551d;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: white;
}

.circle > svg{
    margin-top: 5px;
}