/*
    Header area 
*/

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height:90px;
    width:100%;
}

.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 60vw;
}

.logo{
    color: #637f83;
    font-size: 32px;
    font-weight:bolder;
}

nav ul li{
    display: inline-block;
    padding: 10px 26px;
}

nav ul li a{
    color: #637f83;
    font-size: 16px;
    font-weight:bold;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active{
    color: #e4551d;
}

.navbar a{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navbar > li:last-child{
    padding-right: 0;
}

.navbar a:hover::before,
.navbar a:focus::before,
.navbar a:active::before {
	display: inline-block;
	border-style: solid;
    color: #637f83;
    margin-bottom: 8px;
	border-width: 0 0 0.13em 0.13em;
	content: '';
	height: 0.45em;
	align-content: center;
	position:absolute;
	bottom:20px;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

/*
    Banner area 
*/

.banner-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height:520px;
    width:100%;
    top: 90px;
    background: url(../images/banner_image.jpg);
    background-size: cover;
    background-position: top;
}

.banner-inner{
    display: flex;
    height: 68%;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.banner-link{
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    letter-spacing: 4px;
    text-underline-offset: 12px;
    cursor: pointer;
}

.banner-description{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 23px;
    letter-spacing: 4px;
    cursor: pointer;
}

.button-circle{
    width: 68px;
    height: 68px;
    background: #e4551d;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: white;
}

.button-circle > svg{
    margin-top: 20px;
}

.button-circle:hover{
    transition: all 0.2s;
    background: #b83400;
}

/*
    Text-block area 
*/

.text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 140px;
    width: 100%;
    background-color: white;
}

.text-inner{
    display: flex;
    height: 68%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 20px 20px;
}

.text-title{
    font-size: 34px;
    font-weight: bold;
    color: #637f83;
    letter-spacing: 2px;
    padding: 4px 20px;
}

.text-description{
    font-size: 24px;
    font-weight:lighter;
    color: #637f83;
    letter-spacing: 0.55px;
    padding: 3px 20px;
}

/*
    Featured content area
*/

.featured-wrapper{
    height: 375px;
    width: 100%;
    background-color: #f6f6f6;
}

.featured-container{
    display: flex;
    height: 100%;
    justify-content:center;
}

.featured-card{
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 60px 50px;
    border-right: thin solid #d5d5d5;
}

.featured-card-icon{
    font-size: 64px;
    padding: 0px 20px 14px 20px;
}

.card-title{
    font-size: 22px;
    font-weight: bold;
    color: #637f83;
    letter-spacing: 1px;
    padding-top: 16px;
}

.card-description{
    font-size: 14px;
    font-weight: lighter;
    color: #a4a3a3;
    padding-top: 25px;
}

.button-card{
    font-weight: bold;
    width: 70px;
    height: 32px;
    color: white;
    background-color: #637f83;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 1px;
    padding-bottom: 2px;
}

.button-card:hover{
    box-shadow: 4px 4px 2px rgba(99,127,131, 0.5);
    transition: all 0.2s;
    font-size: 16px;
}

.featured-card:last-child{
    border-right: 0
}

/*
    Portfolio area
*/

.portfolio-wrapper{
    height:510px;
    width:100%;
    background-color: white;
}

.portfolio-inner{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.button-circle-little{
    width: 20px;
    height: 20px;
    background: #e4551d;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: white;
    padding-top: 1px;
}

.div-buttons{
    width: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
}

.image-orange{
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    background: url(../images/orange.jpg);
    background-size: cover;
    margin: 10px;
    background-position: center;
}

.image-block{
    width: 300px;
    height: 100%;
    border-top: 15px solid white;
    border-bottom: 15px solid white;
}

.button-portfolio{
    font-weight: bold;
    width: 150px;
    height: 40px;
    color: white;
    background-color: #e4551d;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 1px;
    padding-bottom: 2px;
    margin-bottom: 60px;
}

.div-paddings{
    width: 100%;
    padding-top: 64px;
    padding-bottom: 20px;
}