@import "../scss/mixins.scss";

@mixin title {
    color: #ffffff;
    letter-spacing: 4px;
    padding: 15px;
    text-align: center;
}

.banner {
    @include display(flex, center, none, center);
    height: 520px;
    width: 100%;
    top: 90px;
    padding: 30px;
    background-image: url(../images/banner_image.jpg);
    background-size: cover;
    background-position: top;

    &__container {
        @include display(flex, space-around, column, center);
        height: 68%;
        min-width: 60%;
    }

    &__link {
        @include title();
        max-width: 549px;
        font-family: 'PT Sans', sans-serif;
        font-size: 2.5em;
        font-weight: bold;
        text-decoration: underline;
        line-height: 55px;
        text-underline-offset: 12px;
        cursor: pointer;
    }

    &__description {
        @include title();
        max-width: 400px;
        font-family: 'Lato', sans-serif;
        font-size: 1em; 
        font-weight: normal;
        line-height: 23px;
        text-transform: uppercase;
    }

    @media screen and (max-width: 615px) {
        &__link {
            font-size: 1.5em;
            line-height: 40px;
        }

        &__description {
            font-size: 0.875em;
        }
    }
}

.button-circle {
    width: 68px;
    height: 68px;
    background: #e4551d;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    padding: 15px;

    & > svg {
        margin-top: 20px;
    }

    &:hover {
        transition: all 0.2s;
        background: #b83400;
    }
}