@import "../scss/common_blocks/mixins/mixins.scss";
@import "../scss/common_blocks/button/button.scss";
@import "../scss/common_blocks/variables/variables.scss";

.featured-content {
    @include display(flex, center, none, none);
    min-height: 375px;
    width: 100%;
    background-color: $additional-color;

    &__container {
        @include display(flex, center, none, center);
        min-height: 375px;
        max-width: 1200px;
    }

    &__featured-card {
        @include display(flex, space-between, column, center);
        min-height: 375px;
        max-width: 300px;
        text-align: center;
        padding: 60px 50px;
        border-right: thin solid $bordeer-color;

        &:last-child {
            border-right: 0;
        }
    }

    &__title {
        font-size: 1.375em;
        font-weight: bold;
        color: $main-color;
        letter-spacing: 1px;
        padding-top: 16px;
    }

    &__description {
        font-size: 0.875em;
        font-weight: lighter;
        color: $desc-color;
        padding-top: 25px;
    }

    &__button-card-size {
        width: 70px;
        height: 32px;
        background-color: $main-color;
        padding-bottom: 2px;
        border-radius: 5px;

        &:hover {
            box-shadow: 4px 4px 2px $main-shadow-color;
            transition: all 0.2s;
        }
    }

    .featured-card-icon{
        font-size: 4em;
        padding: 0px 20px 14px 20px;
        color: $active-color;
    }

    @media screen and (max-width: 1000px) {
        &__container {
            max-width: 600px;
            flex-wrap: wrap;
        }

        &__featured-card {
            &:first-child {
                border-bottom: thin solid $bordeer-color;
            }

            &:nth-child(2n) {
                border: none;
                border-bottom: thin solid $bordeer-color;
            }

            &:last-child {
                border: none;
            }
        }
    }

    @media screen and (max-width: 615px) {
        &__featured-card {
            border-bottom: thin solid $bordeer-color;
            border-right: none;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}