* {

    &,
    &::after,
    &::before {
        padding: 0;
        margin: 0;
        border: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

a {

    &,
    &:visited,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        outline: none;
    }
}

nav,
footer,
header,
aside {
    display: block;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    background-color: #ffffff;
    line-height: 1;
    font-size: 16px;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

i {
    color: #ffffff;
}

input,
button,
textarea {
    font-family: inherit;
}

input {
    &::-ms-clear {
        display: none;
    }

    &:focus,
    &:hover {
        border: none;
        outline: none;
    }
}

button {
    cursor: pointer;
    outline: none;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

q {
    &::after::before {
        content: ""
    }
}