@import "../scss/mixins.scss";

nav {
    ul {
        li {
            display: inline-block;
            padding: 20px 26px;

            a {
                color: #637f83;
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;

                &:hover,
                &:focus,
                &:active {
                    color: #e4551d;
                }
            }
        }
    }
}

.header {
    @include display(flex, center, none, center);
    max-height: 90px;
    width: 100%;

    &__container {
        @include display(flex, space-between, row, center);
        color: #ffffff;
        min-height: 90px;
        max-width: 1202px;
        flex: 1;
        padding: 1em;
    }

    &__logo {
        color: #637f83;
        font-size: 32px;
        font-weight: bolder;
    }

    &__menu-button-container {
        @include display(none, center, column, center);
        height: 100%;
        width: 30px;
        cursor: pointer;
    }

    &__menu-button {

        &,
        &::before,
        &::after {
            display: block;
            background-color: #637f83;
            position: absolute;
            height: 4px;
            width: 30px;
            transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
            border-radius: 2px;
        }

        &::before {
            content: '';
            margin-top: -8px;
        }

        &::after {
            content: '';
            margin-top: 8px;
        }
    }

    &__menu {
        @include display(flex, none, row, none);
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;

        &>li {
            position: relative;
            overflow: hidden;
        }

        & a {

            &:hover,
            &:focus,
            &:active {
                &::before {
                    height: 0.45em;
                    width: 0.45em;
                    display: inline-block;
                    border-style: solid;
                    color: #637f83;
                    border-width: 0 0 0.13em 0.13em;
                    content: '';
                    align-content: center;
                    position: absolute;
                    left: calc(50% - 0.45em / 2);
                    bottom: 20px;
                    transform: rotate(-45deg);
                    margin-bottom: 28px;
                    vertical-align: top;
                }
            }
        }
    }

    #header__menu-toggle {
        display: none;
    }

    @media screen and (max-width: 900px) {
        &__menu-button-container {
            display: flex;
        }

        &__menu {
            position: absolute;
            margin-top: 90px;
            left: 0;
            top: 0;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        &__menu {
            &>li {
                @include display(flex, center, none, center);
                margin: 0;
                padding: 0.5em 0;
                width: 100%;
                color: #ffffff;
                background-color: #ffffff;

                &:not(:last-child) {
                    border-bottom: 1px solid #444;
                }
            }

            & a {

                &:hover,
                &:focus,
                &:active {
                    &::before {
                        content: none;
                    }
                }
            }
        }

        #header__menu-toggle {
            &~.header__menu {
                li {
                    height: 0;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
                }
            }

            &:checked {
                &~.header__menu {
                    li {
                        border: 1px solid #d5d5d5;
                        height: 2.5em;
                        padding: 0.5em;
                        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
                    }
                }
            }
        }
    }
}