@import "../scss/mixins.scss";

@mixin image($path) {
    height: 100px;
    width: 100px;
    background: url($path);
    background-size: 130%;
    background-position: top;
    border-radius: 10px;
    margin-right: 15px;
}

.row {
    width: 100%;
    @include display(flex, center, none, none);

    &__container {
        display: grid;
        width: 100%;
        grid-template-columns: 50.5% 50%;
        min-height: 350px;
        max-width: 1190px;
        border-top: thin solid #d5d5d5;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__card {
        @include display(flex, none, row, none);
        max-width: 570px;
        min-height: 100px;
        padding: 15px 20px 15px 10px;
        // margin-right: 30px;

        &:nth-child(2n) {
            margin-right: 0px;
        }
    }

    &__text {
        @include display(flex, none, column, none);
        flex: 1;
        min-height: 100px;
        margin-left: 15px;

        & a {
            color: #e4551d;

            &:hover {
                border-bottom: 1px solid #e4551d;
                transition: 0.2s all;
                cursor: pointer;
            }
        }
    }

    &__title {
        font-size: 1.375em;
        font-weight: bold;
        color: #637f83;
        letter-spacing: 1px;
        padding-bottom: 12px;
    }

    &__description {
        font-size: 0.875em;
        font-weight: lighter;
        color: #a4a3a3;
        line-height: 1.7;
    }

    &__image-1 {
        @include image("../images/1.png");
    }

    &__image-2 {
        @include image("../images/2.png");
    }

    &__image-3 {
        @include image("../images/3.png");
    }

    &__image-4 {
        @include image("../images/4.png");
    }

    @media screen and (max-width: 900px){
        &__container{
            grid-template-columns: repeat(1, 100%);
        }
    }
}