@import "../scss/mixins.scss";

.main-title {
    @include display(flex, center, none, center);
    height: 140px;
    min-width: 60%;
    width: 100%;
    text-align: center;
    background-color: #ffffff;

    &__container {
        @include display(flex, center, column, center);
        height: 68%;
        min-width: 60%;
        padding: 20px 20px;
    }

    &__title {
        font-size: 2.125em;
        font-weight: bold;
        color: #637f83;
        letter-spacing: 2px;
        padding: 4px 20px;
    }

    &__description {
        font-size: 1.5em;
        font-weight: lighter;
        color: #637f83;
        letter-spacing: 0.55px;
        padding: 3px 20px;
    }

    @media screen and (max-width: 615px) {
        &__title {
            font-size: 1.5em;
        }

        &__description {
            font-size: 0.8em;
        }
    }
}