$default-color: #ffffff;
$default-darker:#d9d9d9;
$additional-color: #f6f6f6;
$bordeer-color: #d5d5d5;
$desc-color: #a4a3a3;

$active-color: #e4551d;
$hover-color: #b83400;
$active-hover-color:#e4551d80;

$main-text-color: #b5c7c9;
$main-color: #637f83;
$main-darker-color: #597275;
$main-hover-color:#799ea280;
$main-shadow-color: #637f8380;

$body-color:#333333;